<script src="/assets/jquery-jvectormap-1.2.2.min.js"></script>
<script src="/assets/jquery-mousewheel.js"></script>

<script src="/assets/lib/jvectormap.js?body=1"></script>
<script src="/assets/lib/abstract-element.js?body=1"></script>
<script src="/assets/lib/abstract-canvas-element.js?body=1"></script>
<script src="/assets/lib/abstract-shape-element.js?body=1"></script>

<script src="/assets/lib/svg-element.js?body=1"></script>
<script src="/assets/lib/svg-group-element.js?body=1"></script>
<script src="/assets/lib/svg-canvas-element.js?body=1"></script>
<script src="/assets/lib/svg-shape-element.js?body=1"></script>
<script src="/assets/lib/svg-path-element.js?body=1"></script>
<script src="/assets/lib/svg-circle-element.js?body=1"></script>

<script src="/assets/lib/vml-element.js?body=1"></script>
<script src="/assets/lib/vml-group-element.js?body=1"></script>
<script src="/assets/lib/vml-canvas-element.js?body=1"></script>
<script src="/assets/lib/vml-shape-element.js?body=1"></script>
<script src="/assets/lib/vml-path-element.js?body=1"></script>
<script src="/assets/lib/vml-circle-element.js?body=1"></script>

<script src="/assets/lib/vector-canvas.js"></script>
<script src="/assets/lib/simple-scale.js"></script>
<script src="/assets/lib/numeric-scale.js?body=1"></script>
<script src="/assets/lib/ordinal-scale.js?body=1"></script>
<script src="/assets/lib/color-scale.js?body=1"></script>
<script src="/assets/lib/data-series.js?body=1"></script>
<script src="/assets/lib/proj.js?body=1"></script>
<script src="/assets/lib/world-map.js?body=1"></script>
<script src="/assets/jquery-jvectormap-world-mill-en.js?body=1"></script>

<fieldset class="ui-grid-c" >
  <!-- Give a notice on the top of the screen which could be an error or a welcome -->
  <% if flash[:notice] %>
    <div class="notice" style="color:red"><%= flash[:notice] %></div>
    <%  flash[:notice] = "" %>
  <% end %>

  <h1 class="ui-grid-a" > <%= @userProfile.name %> </h1>
  
  <div class="ui-grid-c" id="map1" style="width:40%; height:50%;top:30%;" > </div>
  <div style="left:5%;top:32%;position:absolute;background-color:#66C2A5;">
      Visited
  </div>
  <div style="left:5%;top:35%;position:absolute;background-color:#FFA500;">
      Wish
  </div>
</fieldset>

<fieldset class="ui-grid-g" style="float:right;width=30%" >
  <% if !@user.nil?  %>
    <a data-role="button" data-inline="true"
      <%= link_to 'Send Message', new_user_message_path(user_id: @userProfile.id) %>
    </a>
  <% end %>
  
  <!-- You can view all the reviews of a person and who is the user texting with -->
  <h3>
    Contacts of <%= @userProfile.name %>
  </h3>
  <div data-role="collapsible-set">
    <% @contactUsers.each do |contact| %>
      <% if contact != @userProfile %>
        <div data-role="collapsible" data-collapsed="true">
          <h3>
              <%= contact.name %>
          </h3> 
          
          <% if !@user.nil?  %>
            <a data-role="button" data-inline="true"
              <%= link_to 'Send Message', new_user_message_path(user_id: contact.id) %>
            </a>  
          <% end %> 
          
          <a data-role="button" target="_top"
            <%= link_to("View profile", user_path(id: contact.id)) %> 
          </a> 
        </div>
      <% end %>
    <% end %>
  </div>

  <h3>
    Reviews of <%= @userProfile.name %>
  </h3>   
  <div data-role="collapsible-set" data-content-theme="d">
    <% isFirstRev = true %>
    <% @reviews.each do |review| %>      
      <div data-role="collapsible" data-collapsed=  "true" >
        <h3>
          <%= review.title %> 
        </h3>
        
        <p> 
          <%= truncate(review.body, length: 250) %>   
          <a data-role="button" data-inline="true" style="float:right" data-mini="true"
            <%= link_to 'Read Full Review', country_review_path(country_id: review.country_id, id: review.id) %>
          </a>
        </p>
      </div>
      <% isFirstRev = false %>
    <% end %>
  </div>
</fieldset>

<script>
 var series = {
      regions: [{
        values: {
        <% @countriesVisited.each do |visit| %>
        <%= visit.code%>: "#66C2A5",
        <% end %>
        <% @countriesWish.each do |wish| %>
        <%= wish.code%>: "#FFA500",
        <% end %>},
        attribute: 'fill' 
      }]
}
</script>
